.containerTitulo{
    width: 255px !important;
}
@media only screen and (min-width: 768px){
    .containerTitulo{ 
        width: 400px !important;
    }
}
@media only screen and (min-width: 1200px){
    .containerTitulo{
        width: 550px !important;
    }
}
@media only screen and (min-width: 1920px){
    .containerTitulo{
        width: 700px !important;
    }
}